<p class="h2">Spørsmål sendt inn fra kunder</p>

<accordion [showArrows]="true">
    <accordion-group *ngFor="let enquiry of alleEnquiries" heading={{enquiry.question}}>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{enquiry.name}}</td>
                    <td>{{enquiry.surname}}</td>
                    <td>{{enquiry.email}}</td>
                </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>


