<div class="col-sm-4 col-sm-offset-2">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody *ngFor="let enquiry of alleEnquiries">
            <tr>
                <td>{{enquiry.name}}</td>
                <td>{{enquiry.surname}}</td>
                <td>{{enquiry.email}}</td>
                <td>{{enquiry.question}}</td>
            </tr>
        </tbody>
    </table>
</div>
