<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Oblig 3 webapps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="systemjs.config.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a routerLink="/faq">Faq</a></li>
                    <li><a routerLink="/form">Legg inn spørsmål</a></li>
                    <li><a routerLink="/list">Liste all spørsmål</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-xs-12" style="height:50px;"></div>
    <div>
        <router-outlet></router-outlet>
    </div>
</body>
</html>